<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
</head>
<body ng-app="app">
    <div ng-controller="mainController">
        <ng-form name="parantForm" novalidate>
            <label>User Name</label>
            <input type="text" required ng-model="uName" name="name" />
            <br />
            <label>Email</label>
            <input type="email" required ng-model="email" name="age" />
            <br />
            <input type="button" ng-disabled="!parantForm.$dirty" ng-click="click()" value="click" />
            <br />
            <ng-form name="childForm">
              Address  <input type="text" required ng-model="subText" />
                <br />
                <input type="button" ng-disabled="!childForm.$valid" ng-click="click()" value="click" />
            </ng-form>
        </ng-form>
    </div>
    <script>
    angular.module("app", [])
    .controller('mainController', ['$scope', function ($scope) {
        $scope.uName = "LearnIt";
        $scope.email = "visrosoftware@gmail.com";
    }]);
</script>
</body>
</html>