<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
</head>
<body ng-app="app">
    <div ng-controller="mainController">
        <form name="parentForm" ng-submit="enviarDatos()">
		    <h4>subForm 1</h4>
            <div ng-repeat="item in items">
                <ng-form name="child1">
                    Name:
                    <input name="name" ng-model="item.name" required>
                    <div style="color:red" ng-if="child1.name.$invalid">Above field is required!</div>
                </ng-form>
            </div>
			<h4>subForm 2</h4>
			<div ng-repeat="item in students">
                <ng-form name="child2">
                    Name:
                    <input name="name" ng-model="item.name" required>
                    <div style="color:red" ng-if="child2.name.$invalid">Above field is required!</div>
					Sex:
                    <input name="sex" ng-model="item.sex" required>
                    <div style="color:red" ng-if="child2.sex.$invalid">Above field is required!</div>
                </ng-form>
            </div>
			<br>
			<button ng-disabled="!parentForm.$valid" type="submit">submit</button>
        </form>
    </div>
<script>
    var app = angular.module("app", [])
    .controller('mainController', ['$scope', function ($scope) {
		$scope.enviarDatos=function(){
			alert("Datos enviados");
		}
	
        $scope.items = [{ name: 'A' }, { name: 'B' }, { name: '' }];
		$scope.students = [{ name: 'John', sex: 'Male' }, { name: 'Smith', sex: 'Male' }, { name: 'Allen', sex: 'Male' }, { name: 'Johnson', sex: 'Male' }, { name: 'Harris', sex: 'Male' }, { name: 'Williams', sex: 'Male' }, { name: 'David', sex: 'Male' }];
   
    }]);
</script>
</body>
</html>