<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
	<script>
    angular.module("app", [])
    .controller('mainController', ['$scope', function ($scope) {
        $scope.students = [{ name: 'John', sex: 'Male' }, { name: 'Smith', sex: 'Male' }, { name: 'Allen', sex: 'Male' }, { name: 'Johnson', sex: 'Male' }, { name: 'Harris', sex: 'Male' }, { name: 'Williams', sex: 'Male' }, { name: 'David', sex: 'Male' }];
      /* 
	   $scope.onChangeStudent=function(idx){
			$scope.student = $scope.students[idx];
		}
		
		*/
		
		$scope.$watch("idx",function(newValue,oldValue) {
			if (newValue===oldValue) {
			  return;
			}
		   $scope.student = $scope.students[newValue];
		  });
	
	}]);
</script>
</head>
<body ng-app="app">
    <div ng-controller="mainController">
	    <br>
		
		<div class="container">
		<h2>Bindeada una propiedad del objeto</h2>
			Students: 
			<select ng-model="name" ng-options="student.name as student.name for student in students">
			
			</select>
			<input type="text" ng-model="name"/>
			
			<pre>Student: {{name}}</pre>
		</div>
		<br>
		
		<div class="container">
		<h2>Bindeado el objeto objeto completo</h2>
			Students: 
			<select ng-model="student" ng-options="student as student.name for student in students">
			
			</select>
			<input type="text"  ng-model="idx"/>
			
			<pre>Student: {{name}}</pre>
		</div>
		<br>
		<div class="container">
		<h2>Bindeado el item primitivo de un array</h2>
			Students: 
			<select ng-model="item" ng-options="item for item in [1,2,3,4,5,6] track by item">
			
			</select>
			<input type="text" ng-model="item"/>
			
			<pre>Student: {{item}}</pre>
		</div>
    </div>
</body>
</html>
